{% for vhost in vhosts %}

<VirtualHost {{ vhost.listen_ip }}:{{ vhost.listen_port }}>
  ServerName {{ vhost.servername }}

{% if vhost.serveralias is defined %}
  ServerAlias {{ vhost.serveralias }}
{% endif %}

{% if vhost.documentroot is defined %}
  DocumentRoot {{ vhost.documentroot }}
{% endif %}

{% if vhost.serveradmin is defined %}
  ServerAdmin {{ vhost.serveradmin }}
{% endif %}

{% if vhost.documentroot is defined %}
  <Directory "{{ vhost.documentroot }}">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Order allow,deny
    Allow from all
  </Directory>
{% endif %}

{% if vhost.extra_parameters is defined %}
  {{ vhost.extra_parameters }}
{% endif %}

{% if vhost.accesslog is defined %}
   CustomLog {{ vhost.accesslog }} combined
{% endif %}

{% if vhost.errorlog is defined %}
   ErrorLog {{ vhost.errorlog }}
{% endif %}

</VirtualHost>

{% endfor %}
